.book-button {
  background-color: #a7706c;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.book-button:hover {
  background-color: #8e5a54;
  transform: translateY(-3px);
}

.scroll {
  height: 20rem;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
}
.columnTitleStyle {
  font-Size: 1.5rem;
  font-Weight: Normal;
  letter-Spacing: 1px;
  margin-Bottom: 1rem;
  border-Bottom: 1px solid rgba(255,255,255,0.2);
  color:antiquewhite;
  padding-Bottom: 0.5rem
}